In [ ]:
# Enable outputting results interactively. 
# All the results from code in a given cell will be displayed instead of only the last one.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd
import pickle
import numpy as np
import sqlite3
import math
import datetime

from re import sub
from decimal import Decimal

import re

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
calendar =  pickle.load( open( "../data/all_SF_calendar.p", "rb" ) )
calendar.shape
# 

# limit to listings where the min. nights is less than 30 days. listings with 30 days + requirement are exempt from the regulation.

# calendar = calendar[calendar['minimum_nights'] <30 ]
# calendar.shape

In [4]:
calendar['price'] = calendar['price'].str.replace("\$|,", "").astype(float)
calendar.dtypes

listing_id                  int64
date               datetime64[ns]
available                  object
price                     float64
adjusted_price             object
minimum_nights            float64
maximum_nights            float64
file_scraped_dt    datetime64[ns]
lead_time                   int64
dtype: object

In [5]:
calendar = calendar.set_index(pd.DatetimeIndex(calendar['file_scraped_dt']))
calendar['month'] = calendar.index.strftime('%Y-%m')
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,file_scraped_dt,lead_time,month
file_scraped_dt,,,,,,,,,,
2019-06-02,75422,2019-08-16,t,40.0,$40.00,30.0,1825.0,2019-06-02,75,2019-06
2019-06-02,75422,2019-08-17,t,40.0,$40.00,30.0,1825.0,2019-06-02,76,2019-06
2019-06-02,75422,2019-08-18,t,40.0,$40.00,30.0,1825.0,2019-06-02,77,2019-06
2019-06-02,75422,2019-08-19,t,40.0,$40.00,30.0,1825.0,2019-06-02,78,2019-06
2019-06-02,75422,2019-08-20,t,40.0,$40.00,30.0,1825.0,2019-06-02,79,2019-06

In [37]:
n_bookings =  pickle.load( open( "../data/ls_booking.p", "rb" ) )
n_bookings.head()
n_bookings.shape

   listing_id    month  counts
0         958  2009-07       2
1         958  2009-08       1
2         958  2009-09       1
3         958  2009-11       1
4         958  2010-02       2

(211424, 3)

In [51]:
ls = n_bookings.groupby('listing_id')['counts'].sum().reset_index(name = 'counts').sort_values(by='counts', ascending = False)

ls.head()
ls_sub = ls[ls['counts'] >= 10]
ls_sub = ls_sub.drop('counts', axis = 1)
ls_sub.head()

      listing_id  counts
959       545685     741
12          8739     715
413       205842     674
3049     1920033     672
1022      585326     667

      listing_id
959       545685
12          8739
413       205842
3049     1920033
1022      585326

In [52]:
bookings_sub = n_bookings.merge(ls_sub, how = 'inner', on = 'listing_id')
bookings_sub = bookings_sub.drop('counts', axis = 1)
bookings_sub.head()
bookings_sub.shape

   listing_id    month
0         958  2009-07
1         958  2009-08
2         958  2009-09
3         958  2009-11
4         958  2010-02

(185548, 2)

In [ ]:
calendar_sub = calendar.merge(bookings_sub, how = 'inner', on = ['listing_id', 'month'] )
calendar_sub.head()

In [ ]:
calendar_sub.shape[0]/calendar.shape[0]

In [ ]:
pickle.dump(calendar_sub, open('../data/calendar_pricing.p','wb'))

In [6]:
test = calendar[calendar['listing_id'] == 8739].sort_values(by= ['date', 'lead_time'])
test['2018-02-02']

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,file_scraped_dt,lead_time,month
file_scraped_dt,,,,,,,,,,
2018-02-02,8739,2018-02-18,t,125.0,NaN,NaN,NaN,2018-02-02,16,2018-02
2018-02-02,8739,2018-02-19,t,126.0,NaN,NaN,NaN,2018-02-02,17,2018-02
2018-02-02,8739,2018-02-20,t,129.0,NaN,NaN,NaN,2018-02-02,18,2018-02
2018-02-02,8739,2018-02-21,t,131.0,NaN,NaN,NaN,2018-02-02,19,2018-02
2018-02-02,8739,2018-02-24,t,146.0,NaN,NaN,NaN,2018-02-02,22,2018-02
2018-02-02,8739,2018-02-25,t,142.0,NaN,NaN,NaN,2018-02-02,23,2018-02
2018-02-02,8739,2018-02-26,t,144.0,NaN,NaN,NaN,2018-02-02,24,2018-02
2018-02-02,8739,2018-02-27,t,146.0,NaN,NaN,NaN,2018-02-02,25,2018-02
2018-02-02,8739,2018-02-28,t,148.0,NaN,NaN,NaN,2018-02-02,26,2018-02
2018-02-02,8739,2018-03-20,t,170.0,NaN,NaN,NaN,2018-02-02,46,2018-02
2018-02-02,8739,2018-03-21,t,173.0,NaN,NaN,NaN,2018-02-02,47,2018-02
2018-02-02,8739,2018-03-22,t,169.0,NaN,NaN,NaN,2018-02-02,48,2018-02
2018-02-02,8739,2018-03-28,t,148.0,NaN,NaN,NaN,2018-02-02,54,2018-02
2018-02-02,8739,2018-03-29,t,147.0,NaN,NaN,NaN,2018-02-02,55,2018-02
2018-02-02,8739,2018-03-30,t,147.0,NaN,NaN,NaN,2018-02-02,56,2018-02
2018-02-02,8739,2018-03-31,t,146.0,NaN,NaN,NaN,2018-02-02,57,2018-02
2018-02-02,8739,2018-04-01,t,142.0,NaN,NaN,NaN,2018-02-02,58,2018-02
2018-02-02,8739,2018-04-02,t,143.0,NaN,NaN,NaN,2018-02-02,59,2018-02
2018-02-02,8739,2018-04-03,t,145.0,NaN,NaN,NaN,2018-02-02,60,2018-02
2018-02-02,8739,2018-04-04,t,147.0,NaN,NaN,NaN,2018-02-02,61,2018-02
2018-02-02,8739,2018-04-05,t,146.0,NaN,NaN,NaN,2018-02-02,62,2018-02
2018-02-02,8739,2018-04-06,t,145.0,NaN,NaN,NaN,2018-02-02,63,2018-02
2018-02-02,8739,2018-04-07,t,145.0,NaN,NaN,NaN,2018-02-02,64,2018-02
2018-02-02,8739,2018-04-08,t,141.0,NaN,NaN,NaN,2018-02-02,65,2018-02
2018-02-02,8739,2018-04-09,t,142.0,NaN,NaN,NaN,2018-02-02,66,2018-02
2018-02-02,8739,2018-04-10,t,144.0,NaN,NaN,NaN,2018-02-02,67,2018-02
2018-02-02,8739,2018-04-11,t,146.0,NaN,NaN,NaN,2018-02-02,68,2018-02
2018-02-02,8739,2018-04-12,t,145.0,NaN,NaN,NaN,2018-02-02,69,2018-02
2018-02-02,8739,2018-04-13,t,146.0,NaN,NaN,NaN,2018-02-02,70,2018-02
2018-02-02,8739,2018-04-14,t,146.0,NaN,NaN,NaN,2018-02-02,71,2018-02
...,...,...,...,...,...,...,...,...,...,...
2018-02-02,8739,2018-07-02,t,181.0,NaN,NaN,NaN,2018-02-02,150,2018-02
2018-02-02,8739,2018-07-03,t,184.0,NaN,NaN,NaN,2018-02-02,151,2018-02
2018-02-02,8739,2018-07-04,t,186.0,NaN,NaN,NaN,2018-02-02,152,2018-02
2018-02-02,8739,2018-07-05,t,187.0,NaN,NaN,NaN,2018-02-02,153,2018-02
2018-02-02,8739,2018-07-06,t,186.0,NaN,NaN,NaN,2018-02-02,154,2018-02
2018-02-02,8739,2018-07-07,t,188.0,NaN,NaN,NaN,2018-02-02,155,2018-02
2018-02-02,8739,2018-07-08,t,182.0,NaN,NaN,NaN,2018-02-02,156,2018-02
2018-02-02,8739,2018-07-09,t,282.0,NaN,NaN,NaN,2018-02-02,157,2018-02
2018-02-02,8739,2018-07-10,t,276.0,NaN,NaN,NaN,2018-02-02,158,2018-02
2018-02-02,8739,2018-07-11,t,282.0,NaN,NaN,NaN,2018-02-02,159,2018-02
2018-02-02,8739,2018-07-12,t,243.0,NaN,NaN,NaN,2018-02-02,160,2018-02
2018-02-02,8739,2018-07-13,t,190.0,NaN,NaN,NaN,2018-02-02,161,2018-02
2018-02-02,8739,2018-07-14,t,192.0,NaN,NaN,NaN,2018-02-02,162,2018-02
2018-02-02,8739,2018-07-15,t,186.0,NaN,NaN,NaN,2018-02-02,163,2018-02
2018-02-02,8739,2018-07-16,t,188.0,NaN,NaN,NaN,2018-02-02,164,2018-02
2018-02-02,8739,2018-07-17,t,191.0,NaN,NaN,NaN,2018-02-02,165,2018-02
2018-02-02,8739,2018-07-18,t,194.0,NaN,NaN,NaN,2018-02-02,166,2018-02
2018-02-02,8739,2018-07-19,t,195.0,NaN,NaN,NaN,2018-02-02,167,2018-02
2018-02-02,8739,2018-07-20,t,239.0,NaN,NaN,NaN,2018-02-02,168,2018-02
2018-02-02,8739,2018-07-21,t,244.0,NaN,NaN,NaN,2018-02-02,169,2018-02
2018-02-02,8739,2018-07-22,t,190.0,NaN,NaN,NaN,2018-02-02,170,2018-02
2018-02-02,8739,2018-07-23,t,192.0,NaN,NaN,NaN,2018-02-02,171,2018-02
2018-02-02,8739,2018-07-24,t,195.0,NaN,NaN,NaN,2018-02-02,172,2018-02
2018-02-02,8739,2018-07-25,t,199.0,NaN,NaN,NaN,2018-02-02,173,2018-02
2018-02-02,8739,2018-07-26,t,198.0,NaN,NaN,NaN,2018-02-02,174,2018-02
2018-02-02,8739,2018-07-27,t,197.0,NaN,NaN,NaN,2018-02-02,175,2018-02
2018-02-02,8739,2018-07-28,t,199.0,NaN,NaN,NaN,2018-02-02,176,2018-02
2018-02-02,8739,2018-07-29,t,193.0,NaN,NaN,NaN,2018-02-02,177,2018-02
2018-02-02,8739,2018-07-30,t,194.0,NaN,NaN,NaN,2018-02-02,178,2018-02
2018-02-02,8739,2018-07-31,t,197.0,NaN,NaN,NaN,2018-02-02,179,2018-02